<template>
    <div>
        <b-navbar toggleable="lg" class="mb-5">
            <b-navbar-brand :to="{name: 'home'}">LIVE CHAT</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <template v-if="!this.getAuth">
                        <b-nav-item
                            :active-class="'active'"
                            :to="{name: 'login'}"
                            :exact="true">
                            {{ this.getTranslationText('Login') }}
                        </b-nav-item>
                        <b-nav-item
                            :active-class="'active'"
                            :to="{name: 'register'}"
                            :exact="true">
                            {{ this.getTranslationText('Register') }}
                        </b-nav-item>
                    </template>
                    <template v-else>
                        <b-nav-item-dropdown :text="`${getAuth.first_name} ${getAuth.last_name}`" right>
                            <b-dropdown-item @click.prevent="authLogout">{{ getTranslationText('Logout') }}</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </template>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "MainHeader",
    computed: {
        ...mapGetters([
            'getTranslationText',
            'getAuth'
        ]),
    },
    methods: {
        ...mapActions([
            'authLogout'
        ]),
    }
}
</script>
