<template>
    <div>
        <main-header />
        <router-view />
    </div>
</template>

<script>
import MainHeader from "../components/MainHeader";
export default {
    name: 'MainApp',
    components: {MainHeader},
}
</script>
