<template>
    <router-view></router-view>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'App',
    methods: {
        ...mapActions([
            'setLocales',
            'setResponseErrors'
        ])
    },
    computed: {
        ...mapGetters([
            'getCurrentLocale',
            'getResponseErrors',
            'getTranslationText'
        ])
    },
    watch: {
        getResponseErrors(responseErrors) {
            if (responseErrors) {
                for (let key in responseErrors) {
                    this.$bvToast.toast(responseErrors[key][0], {
                        title: this.getTranslationText('Error'),
                        toaster: 'b-toaster-bottom-right',
                        variant: 'danger',
                    });
                }

                this.setResponseErrors()
            }
        }
    },

    created() {
        if (!this.getCurrentLocale) {
            this.setLocales();
        }
    }
}
</script>
