<template>
    <div class="container">
        <template v-if="!this.getAuth">
            <h2 class="text-center text-warning">{{ getTranslationText('You_are_not_logged_in') }}
                <router-link :to="{name: 'login'}">
                    {{ this.getTranslationText('Login') }}
                </router-link>
            </h2>
        </template>
        <template v-else>
            <Chat />
        </template>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import Chat from "../../components/Chat";

export default {
    name: "Home",
    components: {Chat},
    comments: {
        Chat
    },
    computed: {
        ...mapGetters([
            'getTranslationText',
            'getAuth'
        ]),
    },
}
</script>
