<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">{{ this.getTranslationText('Login') }}</div>
            <div class="card-body">
                <form autocomplete="off" @submit.prevent="login">
                    <div class="form-group">
                        <label for="email">{{ this.getTranslationText('Email') }}</label>
                        <input id="email" class="form-control" v-model="email">
                    </div>

                    <div class="form-group">
                        <label for="password">{{ this.getTranslationText('Password') }}</label>
                        <input id="password" type="password" class="form-control" v-model="password">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        {{ this.getTranslationText('Login') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

export default {
    data() {
        return {
            email: '',
            password: '',
        }
    },
    computed: {
        ...mapGetters([
            'getTranslationText'
        ]),
    },
    methods: {
        ...mapActions([
            'authLogin'
        ]),
        login() {
            const data = {
                email: this.email,
                password: this.password,
            }

            this.authLogin(data);
        }
    }
}
</script>
