<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">{{ this.getTranslationText('Register') }}</div>
            <div class="card-body">
                <form autocomplete="off" @submit.prevent="register">
                    <div class="form-group">
                        <label for="first_name">{{ this.getTranslationText('First_name') }}</label>
                        <input id="first_name" class="form-control" v-model="first_name">
                    </div>

                    <div class="form-group">
                        <label for="last_name">{{ this.getTranslationText('Last_name') }}</label>
                        <input id="last_name" class="form-control" v-model="last_name">
                    </div>

                    <div class="form-group">
                        <label for="email">{{ this.getTranslationText('Email') }}</label>
                        <input id="email" class="form-control" v-model="email">
                    </div>

                    <div class="form-group">
                        <label for="password">{{ this.getTranslationText('Password') }}</label>
                        <input id="password" type="password" class="form-control" v-model="password">
                    </div>

                    <div class="form-group">
                        <label for="password">{{ this.getTranslationText('Confirm_password') }}</label>
                        <input id="password_confirmation" type="password" class="form-control" v-model="password_confirmation">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        {{ this.getTranslationText('Register') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

export default {
    data() {
        return {
            first_name: '',
            last_name: '',
            email: '',
            password: '',
            password_confirmation: '',
        }
    },
    computed: {
        ...mapGetters([
            'getTranslationText'
        ]),
    },
    methods: {
        ...mapActions([
            'authRegister'
        ]),
        register() {
            const data = {
                first_name: this.first_name,
                last_name: this.last_name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation,
            }

            this.authRegister(data);
        }
    }
}
</script>
