<template>
    <div class="chat-messages">
        <template v-if="getSelectedPersonId">
            <div>
                <div v-for="message in this.getChatMessages"
                     :key="message.id"
                >
                    <div class="message" :class="{left: myMessage(message), right: !myMessage(message)}">
                        <h5>{{ message.user.first_name }} {{ message.user.last_name }}</h5>
                        <hr>
                        <p>
                            {{ message.message }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tools">
                <label class="btn-success" for="file">{{ getTranslationText('File') }}</label>
                <input type="file" class="d-none" id="file" @change="localSendMessageAsFile">

                <input
                    type="text"
                    :placeholder="getTranslationText('Type_message')"
                    v-model="message"
                >

                <button class="btn-primary" @click="localSendMessage">{{getTranslationText('Send')}}</button>
            </div>
        </template>
        <template v-else>
            <div class="chat-messages__select_user_text">
                {{ getTranslationText('Select_user') }}
            </div>
        </template>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "ChatMessages",
    data() {
        return {
            message: ''
        }
    },
    computed: {
        ...mapGetters([
            'getSelectedPersonId',
            'getTranslationText',
            'getChatMessages',
            'getAuth'
        ])
    },

    methods: {
        ...mapActions([
            'sendMessage'
        ]),
        localSendMessage() {
            if (!this.message.length) {
                this.$bvToast.toast(this.getTranslationText('Message_is_empty'), {
                    title: this.getTranslationText('Error'),
                    toaster: 'b-toaster-bottom-right',
                    variant: 'danger',
                });

                return 0;
            }

            this.sendMessage({
                message: this.message,
            });

            this.message = '';
        },
        localSendMessageAsFile(event) {
            if (!event.target?.files[0]) {
                return 0;
            }

            const formData = new FormData();
            formData.append("file", event.target.files[0]);

            this.sendMessage({
                file: formData,
            });

            this.message = '';
        },
        myMessage(message) {
            return message.from_user_id === this.getAuth.id
        }
    },

    updated() {
        const container = document.querySelector('.chat-messages');
        container.scrollTop = container.scrollHeight;
    }
}
</script>

<style scoped lang="scss">
@import "style";
</style>
