.chat-messages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #4f92ff;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #012952;
    }

    &__select_user_text {
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000012;
        margin: 15px auto;
        font-size: 25px;
        color: #75aaff;
    }

    .message {
        padding: 15px;
        margin: 15px;
        max-width: 70%;
        width: fit-content;
        border-radius: 20px;
        min-width: 10%;
        color: #fff;
        font-weight: 600;

        h5 {
            color: #000;
            text-shadow: 0 0 25px;
            text-align: right;
        }
    }

    .message.left {
        background-color: #6cb2eb;
        margin-left: auto;

        h5 {
            text-align: right;
        }
    }

    .message.right {
        background-color: #898989;
        margin-right: auto;

        h5 {
            text-align: left;
        }
    }

    .tools {
        width: 100%;
        height: 50px;
        margin: 15px 0;
        display: flex;
        justify-content: center;

        button, label {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        input {
            width: 70%;
            padding: 0 10px;
            font-size: 18px;
            margin: 0 15px;
        }
    }
}
