<template>
    <b-overlay
        spinner-variant="primary"
        spinner-type="grow"
        spinner-small
        rounded="sm"
        :show="getChatOverlay">
        <div class="row chat-box">
            <div class="col-md-4 chat-box__left-bar">
                <div class="chat-box__left-bar__search-people">
                    <b-icon icon="search"></b-icon>
                    <input type="text" v-model="search">
                </div>
                <div class="chat-box__left-bar__people">
                    <ul>
                        <li
                            v-for="user in this.getAllUsers"
                            :key="user.id"
                            @click="personClick(user.id)"
                        >
                            <img src="/img/avatar.png" alt="">
                            <span>
                                {{ user.first_name }} {{ user.last_name }}
                            </span>

                            <span class="new-messages-count" v-if="hasNewMessage(user)">
                                ({{ user.messages_count }})
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 chat-messages-box">
                <ChatMessages />
            </div>
        </div>
    </b-overlay>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ChatMessages from '../ChatMessages'
import Echo from "laravel-echo";

export default {
    name: "Chat",
    components: {
        ChatMessages
    },
    computed: {
        ...mapGetters([
            'getAllUsers',
            'getChatOverlay',
            'getAuth',
            'getTranslationText'
        ]),
    },
    data() {
      return {
          search: ''
      }
    },
    watch: {
        search(value) {
            this.searchUsers({
                q: value
            })
        }
    },
    methods: {
        ...mapActions([
            'setUsers',
            'searchUsers',
            'setSelectedPersonId',
            'setChatMessages',
            'addCatMessage'
        ]),

        hasNewMessage(user) {
            return user.messages_count > 0
        },

        personClick(id) {
            this.setSelectedPersonId(id);
            this.setChatMessages(id);
        },
    },
    created() {
        this.setUsers();
        window.Echo.private('NewMessage')
            .listen('.ChatEvent', data => {
                this.addCatMessage(data.message)
            });
    },
}
</script>

<style scoped lang="scss">
    @import "styles.scss";
</style>
