.chat-box {
    height: 750px;
    box-shadow: 0 0 55px;
    border-radius: 25px;

    .chat-messages-box {
        height: 100%;
    }

    &__left-bar {
        border-right: 2px solid;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #4f92ff;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #012952;
        }

        &__people {
            ul {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                list-style: none;
                padding: 5px;

                li {
                    width: 100%;
                    height: 80px;
                    transition: all .3s;
                    box-shadow: 0 0 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 25px;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 15px;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        margin-right: 20px;
                        margin-left: 20px;
                    }

                    .me {
                        margin-left: 15px;
                        color: #4f92ff;
                    }

                    .new-messages-count {
                        margin-left: 10px;
                        color: #ff4f4f;
                    }
                }
            }
        }

        &__search-people {
            position: relative;
            border: 1px solid;
            border-radius: 25px;
            width: 100%;
            height: 50px;
            margin-top: 15px;

            svg {
                position: absolute;
                z-index: 2;
                font-size: 25px;
                right: 15px;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            input {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                border: 1px solid;
                border-radius: 25px;
                left: 0;
                padding-left: 15px;
                font-size: 19px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
